In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df_2015 = pd.read_csv('data_source/2015.csv')
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [46]:
df_2016 = pd.read_csv('data_source/2016.csv')
df_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [4]:
df_2017 = pd.read_csv('data_source/2017.csv')
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [5]:
df_2018_org = pd.read_csv('data_source/2018.csv')
df_2018_org.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [6]:
df_2019_org = pd.read_csv('data_source/2019.csv')
df_2019_org.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [7]:
year = 2015
df_2015 = df_2015.assign(Year = year)
df_2015.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [8]:
# Rename the columns in the df_2015 DataFrame.
#df_2015 = df_2015.rename({'Economy (GDP per Capita)':'Economy..GDP.per.Capita.','Health (Life Expectancy)':'Health..Life.Expectancy', 'Perception of Corruption in Government':'Trust..Government.Corruption.'}, axis='columns')

In [9]:
df_2015

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,2015
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,2015
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,2015
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,2015
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,2015

In [10]:
df_2015.columns.tolist()

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual',
 'Year']

In [11]:
#df.drop(['B', 'C'], axis=1)
df_2015 = df_2015.drop(['Region','Standard Error','Dystopia Residual'], axis=1)

In [12]:
df_2015.columns.tolist()

['Country',
 'Happiness Rank',
 'Happiness Score',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Year']

In [ ]:
#df = df[['x','z','y','q','p']]
#df
# pandas.DataFrame.reindex(columns=column_names)
#df.columns = ['x','y','z','p','q']

In [13]:
df_2015.rename(columns={'Trust (Government Corruption)':'Perceptions of Corruption'},inplace=True)

In [14]:
df_2015.columns.tolist()

['Country',
 'Happiness Rank',
 'Happiness Score',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Perceptions of Corruption',
 'Generosity',
 'Year']

In [ ]:
# pandas.DataFrame.reindex(columns=column_names)
#p = p.reindex(columns=['1Sun', '2Mon', '3Tue', '4Wed', '5Thu', '6Fri', '7Sat'])

In [ ]:
#reorder collummns
#df.columns = ['x','y','z','p','q']
df_2015.columns = ['Country',
 'Happiness Rank',
 'Happiness Score',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Perceptions of Corruption',
 'Generosity',
 'Year']

#df_2015 = df_2015.reindex(columns = Year, Country, Region, Happiness Rank, Happiness Score, Economy (GDP per Capita), Family','Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity)
#df_2015

In [15]:
#df = df[['x','z','y','q','p']]
df_2015 = df_2015[['Year','Country','Happiness Rank','Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)','Freedom','Perceptions of Corruption','Generosity']]
df_2015

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Perceptions of Corruption,Generosity
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...
153,2015,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628
154,2015,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260
155,2015,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179
156,2015,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727
157,2015,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681

In [16]:
df_2015.columns.tolist()

['Year',
 'Country',
 'Happiness Rank',
 'Happiness Score',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Perceptions of Corruption',
 'Generosity']

In [ ]:
#2016

In [47]:
year = 2016
df_2016=df_2016.assign(Year = year)
df_2016.head(5)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016

In [49]:
df_2016 = df_2016.drop(['Region', 'Lower Confidence Interval','Upper Confidence Interval', 'Dystopia Residual'], axis=1)

In [50]:
df_2016.columns.tolist()

['Country',
 'Happiness Rank',
 'Happiness Score',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Year']

In [51]:
df_2016.rename(columns={'Trust (Government Corruption)':'Perceptions of Corruption'},inplace=True)

In [52]:
df_2016.columns.tolist()

['Country',
 'Happiness Rank',
 'Happiness Score',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Perceptions of Corruption',
 'Generosity',
 'Year']

In [54]:
#reorder columsn  Use this code for reordering
df_2016 = df_2016.reindex(columns = ['Year','Country','Happiness Rank','Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)','Freedom','Percentions of Corruption','Generosity'])
df_2016

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Percentions of Corruption,Generosity
0,2016,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,NaN,0.36171
1,2016,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,NaN,0.28083
2,2016,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,NaN,0.47678
3,2016,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,NaN,0.37895
4,2016,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,NaN,0.25492
...,...,...,...,...,...,...,...,...,...,...
152,2016,Benin,153,3.484,0.39499,0.10419,0.21028,0.39747,NaN,0.20180
153,2016,Afghanistan,154,3.360,0.38227,0.11037,0.17344,0.16430,NaN,0.31268
154,2016,Togo,155,3.303,0.28123,0.00000,0.24811,0.34678,NaN,0.17517
155,2016,Syria,156,3.069,0.74719,0.14866,0.62994,0.06912,NaN,0.48397
156,2016,Burundi,157,2.905,0.06831,0.23442,0.15747,0.04320,NaN,0.20290

In [55]:
df_2016.columns.tolist()

['Year',
 'Country',
 'Happiness Rank',
 'Happiness Score',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Percentions of Corruption',
 'Generosity']

In [ ]:
#2017

In [27]:
year = 2017
df_2017=df_2017.assign(Year = year)
df_2017.head(5)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017

In [29]:

df_2017.columns.tolist()

['Country',
 'Happiness.Rank',
 'Happiness.Score',
 'Whisker.high',
 'Whisker.low',
 'Economy..GDP.per.Capita.',
 'Family',
 'Health..Life.Expectancy.',
 'Freedom',
 'Generosity',
 'Trust..Government.Corruption.',
 'Dystopia.Residual',
 'Year']

In [30]:
#df_2017 = df_2017.drop(columns={'Whisker.high','Whisker.low','Dystopia Residual'}, axis='columns', inplace=True)

df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017

In [31]:
#droping columns
df_2017 = df_2017.drop(['Whisker.high','Whisker.low','Dystopia.Residual'], axis=1)
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017

In [32]:
df_2017.columns.tolist()

['Country',
 'Happiness.Rank',
 'Happiness.Score',
 'Economy..GDP.per.Capita.',
 'Family',
 'Health..Life.Expectancy.',
 'Freedom',
 'Generosity',
 'Trust..Government.Corruption.',
 'Year']

In [33]:
df_2017 = df_2017.rename(columns = {"Trust..Government.Corruption.":"Perceptions of Corruption",
                                    "Happiness.Rank":"Happiness Rank",
                                   "Happiness.Score":"Happiness Score",
                                   "Economy..GDP.per.Capita.":"Economy (GDP per Capita)",
                                   "Health..Life.Expectancy.":"Health (Life Expectancy)"})
df_2017.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Perceptions of Corruption,Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017

In [34]:
#reordering columsn
df_2017 = df_2017[['Year','Country','Happiness Rank','Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)','Freedom','Perceptions of Corruption','Generosity']]
df_2017

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Perceptions of Corruption,Generosity
0,2017,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012
1,2017,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280
2,2017,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540
3,2017,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549
4,2017,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483
...,...,...,...,...,...,...,...,...,...,...
150,2017,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.455220,0.252756
151,2017,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.151347,0.493664
152,2017,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.066035,0.354256
153,2017,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.084148,0.204435
154,2017,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.056565,0.280876

In [ ]:
#2018

In [35]:
year = 2018
df_2018=df_2018_org.assign(Year = year)
df_2018.head(5)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [36]:
df_2018.columns.tolist()

['Overall rank',
 'Country or region',
 'Score',
 'GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption',
 'Year']

In [37]:
#df_2018 = df_2018.rename(columns={'':'', '':'', '':''}, inplace=True)
#df.rename(columns={'z':'new_z','d':'new_d'},inplace=True)
df_2018_update = df_2018.rename({'Social support':'Family','Overall rank':'Happiness Rank','Score':'Happiness Score','Country or region':'Country','GDP per capita':'Economy (GDP per Capita)','Perceptions of corruption':'Perceptions of Corruption', 'Healthy life expectancy':'Health (Life Expectancy)', 'Freedom to make life choices': 'Freedom'},axis=1)
df_2018_update.head()

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Perceptions of Corruption,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [38]:
df_2018_update.columns.tolist()

['Happiness Rank',
 'Country',
 'Happiness Score',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Generosity',
 'Perceptions of Corruption',
 'Year']

In [39]:
df_2018 = df_2018_update[['Year','Country','Happiness Rank','Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)','Freedom','Perceptions of Corruption','Generosity']]
df_2018

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Perceptions of Corruption,Generosity
0,2018,Finland,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202
1,2018,Norway,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286
2,2018,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284
3,2018,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353
4,2018,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256
...,...,...,...,...,...,...,...,...,...,...
151,2018,Yemen,152,3.355,0.442,1.073,0.343,0.244,0.064,0.083
152,2018,Tanzania,153,3.303,0.455,0.991,0.381,0.481,0.097,0.270
153,2018,South Sudan,154,3.254,0.337,0.608,0.177,0.112,0.106,0.224
154,2018,Central African Republic,155,3.083,0.024,0.000,0.010,0.305,0.038,0.218
155,2018,Burundi,156,2.905,0.091,0.627,0.145,0.065,0.076,0.149

In [85]:
year = 2019
df_2019=df_2019_org.assign(Year = year)
df_2019.head(5)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [86]:
df_2019.columns.tolist()

['Overall rank',
 'Country or region',
 'Score',
 'GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption',
 'Year']

In [87]:
df_2019_update = df_2019.rename({'Social support':'Family','Overall rank':'Happiness Rank','Score':'Happiness Score','Country or region':'Country','GDP per capita':'Economy (GDP per Capita)','Perceptions of corruption':'Perceptions of Corruption', 'Healthy life expectancy':'Health (Life Expectancy)', 'Freedom to make life choices': 'Freedom'},axis=1)
df_2019_update.head()

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Perceptions of Corruption,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [88]:
df_2019 = df_2019_update[['Year','Country','Happiness Rank','Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)','Freedom','Perceptions of Corruption','Generosity']]
df_2019

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Perceptions of Corruption,Generosity
0,2019,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,2019,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,2019,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,2019,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,2019,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322
...,...,...,...,...,...,...,...,...,...,...
151,2019,Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217
152,2019,Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276
153,2019,Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158
154,2019,Central African Republic,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235
155,2019,South Sudan,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202

In [ ]:
df_2016.shape

In [ ]:
df_2017.shape

In [ ]:
df_2018.shape

In [ ]:
df_2019.shape

In [89]:
### join 2015, 2016, 2018, 2019 to one data frame for use in Tableau visualization
data = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019], ignore_index=True)
data = data.iloc[:, :-1]
#data[data['Year']==2019]
data.tail()

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Perceptions of Corruption,Generosity
777,2019,Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217
778,2019,Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276
779,2019,Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158
780,2019,Central African Republic,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235
781,2019,South Sudan,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202

In [77]:
len(data)

782

In [93]:
total = len(df_2015)+len(df_2016)+len(df_2017)+len(df_2018)+len(df_2019)
total

782

In [96]:
final_data = data.rename({'Family':'Social Support'},axis=1)
final_data.head()

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Perceptions of Corruption,Generosity
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [97]:
# Create output file #creates excel file each run.  run only once
final_data.to_excel("Total 2015 to 2019 Data.xlsx")

In [ ]:
#total_df = pd.concat([df_2015, df_2016,df_2017,df_2018,df_2019])
#total_df.columns = ['Country', 'Score', 'Year']
#total_df = total_df.merge(ISO_df, how='left')

In [ ]:
#df3 = df1.merge(df2, on='A', how='inner', suffixes=('_1', '_2')) #2015 to 2016
df_1516 = df_2015.merge(df_2016, on="Country") #2015-2016
df_1516.head

In [ ]:
#df3 = df1.merge(df2, on='A', how='inner', suffixes=('_1', '_2'))v
#df_1517 = df_1516.merge(df_2017, on="Country") #df1 = 1516 df2 = 2017  #2015 to 2017
df_1517 = df_1516.merge(df_2017, on="Country")
df_1517.head(5)

In [ ]:
#2015 to 2018
df_1518 = df_1517.merge(df_2018, on="Country")
df_1518.head(5)

In [ ]:
#2019 to 2018
df_1519 = df_1518.merge(df_2019, on="Country")
df_1519.head(5)

In [ ]:
df_1519.shape

In [ ]:
total_df = df_1519
total_df.head(5)

In [ ]:
##df3 = df1.merge(df2, on='A', how='inner', suffixes=('_1', '_2'))

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
total_df

In [ ]:
#df.to_csv(r'Path where you want to store the exported CSV file\File Name.csv')

In [ ]:
total_df.to_csv(r'C:\Users\mildred\world-happiness-analysis\total_df.csv')

In [ ]:
#Linear Regression

In [ ]:
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sklearn.linear_model import LinearRegression

In [ ]:
plt.scatter(df_2015.Economy, df_2015.Score)
plt.xlabel('Economy')
plt.ylabel('Score')
plt.show()

In [ ]:
# Split dependent and independent variables
X = df_2015.Economy.values.reshape(-1, 1)
X.shape

In [ ]:
y = df_2015.Score

In [ ]:
# Build Linear Regression model 
model = LinearRegression()
model.fit(X, y)

In [ ]:
# Prediction
y_pred = model.predict(X)
print(y_pred.shape)

In [ ]:
# Plot predictions 
plt.scatter(X, y)
plt.plot(X, y_pred, color='red')
plt.xlabel('Economy')
plt.ylabel('Score')
plt.show()

# print slope of line
print(model.coef_)